<section id = "social-share-section">

<div class="socialshare">

<li><b>Condividi su:</b>&nbsp;&nbsp;<a href="mailto:?subject={{ page.title }}&amp;body=Guarda questo sito: {{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Condividi via email" class="fa fa-lg fa-envelope"></a></li>&nbsp;&nbsp;
<li><a href="whatsapp://send?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}" title="Condividi su Whatsapp" class="fa fa-lg fa-whatsapp"></a></li>&nbsp;&nbsp;
<li><a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}" title="Condividi su Twitter" class="fa fa-lg fa-twitter"></a></li>&nbsp;&nbsp;
<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Condividi su Facebook" class="fa fa-lg fa-facebook"></a></li>&nbsp;&nbsp;
<li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" title="Condividi su LinkedIn" class="fa fa-lg fa-linkedin"></a></li>&nbsp;&nbsp;
<li><a href="javascript:window.print()" title="Stampa" class="fa fa-lg fa-print"></a></li>

</div>
    
</section>

