<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">

<div align="left" class="socialshare">
<ul>
<b>Condividi:</b>&nbsp;&nbsp;<li><a href="mailto:?subject={{ page.title }}&amp;body=Guarda questo sito: {{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Condividi via email" class="fa fa-lg fa-envelope"></a></li>
<li><a href="whatsapp://send?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}" title="Condividi su Whatsapp" class="fa fa-lg fa-whatsapp"></a></li>
<li><a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}" title="Condividi su Twitter" class="fa fa-lg fa-twitter"></a></li>
<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Condividi su Facebook" class="fa fa-lg fa-facebook"></a></li>
<li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}" title="Condividi su LinkedIn" class="fa fa-lg fa-linkedin"></a></li>
<li><a href="javascript:window.print()" title="Stampa" class="fa fa-lg fa-print"></a></li>
</ul>
		</div>


	
    
</section>

{% endif %}
