---
layout: base
---
{% include header.html type="post" %}

<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<article role="main" class="blog-post">
	{{ content }}
</article>

<input id="btn" type="button" value="Copia link" />
	  
	{% if page.tags.size > 0 %}
<div class="blog-tags">
	Tags:
	{% if site.link-tags %}
	{% for tag in page.tags %}
	<a href="/tag/{{ tag }}">{{ tag }}</a>
	{% endfor %}
	{% else %}
	{{ page.tags | join: ", " }}
	{% endif %}
</div>
		
	{% endif %}

	{% if page.social-share %}
	{% include social-share.html %}
	{% endif %}

<!-- Google -->  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2779664131593194",
          enable_page_level_ads: true
     });
</script>
<!-- Google -->

<!-- moneytizer -->  
<div id="94633-30"><script src="//ads.themoneytizer.com/s/gen.js?type=30"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=94633&formatId=30"></script></div>
<div id="94633-5"><script src="//ads.themoneytizer.com/s/gen.js?type=5"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=94633&formatId=5"></script></div>
<!-- moneytizer -->  

</br>

<ul class="pager blog-pager">
	{% if page.previous.url %}
<li class="previous">
	<a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
</li>
	{% endif %}
	{% if page.next.url %}
<li class="next">
	<a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
</li>
	{% endif %}
</ul>
	  
	{% if page.comments %}
<div class="disqus-comments">
	{% include disqus.html %}
</div>
	{% endif %}
</div>
</div>
</div>